!!!
%html{ lang: I18n.locale  }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    %title Headway

    = stylesheet_link_tag    "headway/application", media: "all"
    = javascript_include_tag "headway/application"
    = csrf_meta_tags

  %body
    %nav.top-bar
      .container
        %ol.top-bar-left
          %li= link_to "Requests", requests_url, class: controller_path == "headway/requests" ? "active" : ""

    .container.container-main
      = yield
